n8n/deep-research-engine-v2.json
{
  "name": "Deep Research Engine v2",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "deep-research",
        "responseMode": "responseNode",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          }
        }
      },
      "id": "webhook-dr-002",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [0, 300],
      "webhookId": "b2c3d4e5-deep-research-engine-v2"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// ================================================================\n// Deep Research Engine v2\n// Multi-phase parallel research with entity extraction,\n// cross-referencing, 5 depth levels, and compare mode.\n// Ported from OpenWebUI Deep Research v2 + n8n parallelism.\n// ================================================================\n\nconst SEARXNG_URL = 'http://192.168.1.141:8888';\nconst OLLAMA_URL = 'http://192.168.1.110:11434';\nconst RESEARCH_MODEL = 'qwen3.5:27b';\nconst MAX_PAGE_CHARS = 6000;\n\nconst input = $input.item.json.body || $input.item.json;\nconst topic = input.topic || input.query || '';\nconst depth = Math.max(1, Math.min(5, parseInt(input.depth) || 3));\nconst focus = input.focus || '';\nconst mode = input.mode || 'research'; // 'research' | 'compare' | 'quick'\nconst topicB = input.topic_b || ''; // For compare mode\n\nconst timeline = [];\nconst allFindings = [];\nconst fullPages = [];\nconst allSources = [];\nconst searched = new Set();\nconst fetched = new Set();\nlet keyEntities = new Set();\nconst stats = { searches: 0, pagesRead: 0, results: 0 };\n\nfunction log(phase, msg) {\n  timeline.push({ phase, message: msg, time: new Date().toISOString() });\n}\n\n// ── Helper: Search SearXNG ──\nasync function search(query) {\n  if (searched.has(query)) return [];\n  searched.add(query);\n  stats.searches++;\n  try {\n    const params = new URLSearchParams({\n      q: query, format: 'json', language: 'en',\n    });\n    const resp = await fetch(`${SEARXNG_URL}/search?${params}`, {\n      signal: AbortSignal.timeout(12000),\n    });\n    const data = await resp.json();\n    const results = [];\n    for (const r of (data.results || []).slice(0, 10)) {\n      results.push({\n        title: r.title || '', url: r.url || '',\n        content: (r.content || '').substring(0, 500),\n        engine: r.engine || '', score: r.score || 0,\n        query: query,\n      });\n    }\n    // Capture infoboxes and answers\n    for (const box of (data.infoboxes || [])) {\n      results.push({\n        title: box.infobox || 'Infobox',\n        url: (box.urls && box.urls[0]) ? box.urls[0].url : '',\n        content: box.content || '', engine: 'infobox',\n        score: 100, query: query,\n      });\n    }\n    for (const ans of (data.answers || [])) {\n      if (typeof ans === 'string') {\n        results.push({\n          title: 'Direct Answer', url: '',\n          content: ans, engine: 'answer',\n          score: 100, query: query,\n        });\n      }\n    }\n    stats.results += results.length;\n    return results;\n  } catch (err) {\n    log('search_error', `Search failed: ${query} — ${err.message}`);\n    return [];\n  }\n}\n\n// ── Helper: Parallel search ──\nasync function parallelSearch(queries) {\n  const results = await Promise.allSettled(queries.map(q => search(q)));\n  const all = [];\n  for (const r of results) {\n    if (r.status === 'fulfilled') all.push(...r.value);\n  }\n  return all;\n}\n\n// ── Helper: Fetch page ──\nasync function fetchPage(url) {\n  if (fetched.has(url)) return null;\n  fetched.add(url);\n  const skip = ['youtube.com','twitter.com','x.com','facebook.com','instagram.com','.pdf','linkedin.com','tiktok.com'];\n  if (skip.some(p => url.toLowerCase().includes(p))) return null;\n  try {\n    const resp = await fetch(url, {\n      signal: AbortSignal.timeout(10000),\n      headers: { 'User-Agent': 'HyprChat-Research/2.0' },\n      redirect: 'follow',\n    });\n    const ct = resp.headers.get('content-type') || '';\n    if (!ct.includes('text') && !ct.includes('json')) return null;\n    let text = await resp.text();\n    // Clean HTML\n    for (const tag of ['script','style','nav','header','footer','aside','noscript']) {\n      text = text.replace(new RegExp(`<${tag}[^>]*>[\\\\s\\\\S]*?</${tag}>`, 'gi'), '');\n    }\n    text = text.replace(/<h[1-3][^>]*>(.*?)<\\/h[1-3]>/gi, '\\n## $1\\n');\n    text = text.replace(/<li[^>]*>(.*?)<\\/li>/gi, '\\n• $1');\n    text = text.replace(/<p[^>]*>/gi, '\\n');\n    text = text.replace(/<br\\s*\\/?>/gi, '\\n');\n    text = text.replace(/<[^>]+>/g, ' ');\n    text = text.replace(/&amp;/g,'&').replace(/&lt;/g,'<').replace(/&gt;/g,'>');\n    text = text.replace(/&quot;/g,'\"').replace(/&#39;/g,\"'\").replace(/&nbsp;/g,' ');\n    text = text.replace(/[ \\t]+/g, ' ').replace(/\\n\\s*\\n\\s*\\n+/g, '\\n\\n').trim();\n    if (text.length < 200) return null;\n    stats.pagesRead++;\n    return { url, content: text.substring(0, MAX_PAGE_CHARS) };\n  } catch { return null; }\n}\n\n// ── Helper: Parallel fetch ──\nasync function parallelFetch(urls, limit = 5) {\n  const pages = [];\n  for (let i = 0; i < urls.length; i += limit) {\n    const batch = urls.slice(i, i + limit);\n    const results = await Promise.allSettled(batch.map(u => fetchPage(u)));\n    for (const r of results) {\n      if (r.status === 'fulfilled' && r.value) pages.push(r.value);\n    }\n  }\n  return pages;\n}\n\n// ── Helper: Extract entities ──\nfunction extractEntities(text, topicWords) {\n  const entities = new Set();\n  // Capitalized phrases\n  const caps = text.match(/\\b([A-Z][a-z]+(?:\\s[A-Z][a-z]+)+)\\b/g) || [];\n  for (const term of caps) {\n    if (!topicWords.has(term.toLowerCase()) && term.length > 5) entities.add(term);\n  }\n  // Quoted terms\n  const quoted = text.match(/\"([^\"]{4,40})\"/g) || [];\n  for (const q of quoted) {\n    const term = q.replace(/\"/g, '');\n    if (!term.includes('<')) entities.add(term);\n  }\n  // Acronyms\n  const skip = new Set(['THE','AND','FOR','NOT','BUT','ARE','WAS','HAS','ITS','THIS','THAT','WITH','FROM','HTML','HTTP','URL','API']);\n  const acrs = text.match(/\\b([A-Z]{2,6})\\b/g) || [];\n  for (const a of acrs) {\n    if (!skip.has(a) && !topicWords.has(a.toLowerCase())) entities.add(a);\n  }\n  return entities;\n}\n\n// ── Helper: Rank URLs ──\nfunction rankUrls(findings, exclude) {\n  const scores = {};\n  const quality = {\n    'wikipedia.org':10,'arxiv.org':9,'github.com':8,'stackoverflow.com':8,\n    'nature.com':9,'docs.':8,'.gov':8,'.edu':8,'reuters.com':8,\n    'arstechnica.com':7,'bbc.com':7,'nytimes.com':7,\n    'medium.com':5,'dev.to':6,'techcrunch.com':6,'wired.com':6,\n  };\n  for (const f of findings) {\n    const url = f.url || '';\n    if (!url || (exclude && exclude.has(url))) continue;\n    let score = f.score || 0;\n    for (const [domain, bonus] of Object.entries(quality)) {\n      if (url.toLowerCase().includes(domain)) { score += bonus; break; }\n    }\n    if ((f.content || '').length > 200) score += 3;\n    if ((f.content || '').length > 500) score += 2;\n    const skip = ['youtube.com','twitter.com','x.com','facebook.com','.pdf','linkedin.com'];\n    if (skip.some(p => url.toLowerCase().includes(p))) score -= 100;\n    if (!scores[url] || score > scores[url]) scores[url] = score;\n  }\n  return Object.keys(scores).sort((a,b) => scores[b] - scores[a]).filter(u => scores[u] > 0);\n}\n\n// ── Helper: AI call ──\nasync function askAI(prompt, maxTokens = 4096) {\n  try {\n    const resp = await fetch(`${OLLAMA_URL}/api/generate`, {\n      method: 'POST',\n      headers: { 'Content-Type': 'application/json' },\n      body: JSON.stringify({\n        model: RESEARCH_MODEL, prompt, stream: false,\n        options: { temperature: 0.3, num_predict: maxTokens },\n      }),\n      signal: AbortSignal.timeout(180000),\n    });\n    const data = await resp.json();\n    return (data.response || '').trim();\n  } catch (err) {\n    log('ai_error', `AI call failed: ${err.message}`);\n    return '';\n  }\n}\n\nconst topicWords = new Set(topic.toLowerCase().split(/\\s+/));\n\n// ================================================================\n// QUICK MODE\n// ================================================================\nif (mode === 'quick') {\n  log('quick', `Quick search: ${topic}`);\n  const results = await search(topic);\n  return {\n    json: {\n      success: results.length > 0, topic, depth: 1, mode: 'quick',\n      report: results.length > 0 ? results.map((r,i) => `[${i+1}] ${r.title}\\n    ${r.url}\\n    ${r.content}`).join('\\n\\n') : 'No results found.',\n      sources: results.map((r,i) => ({ index: i+1, title: r.title, url: r.url })),\n      source_count: results.length,\n      total_searches: 1, total_fetches: 0,\n      timeline, total_time_ms: Date.now() - new Date(timeline[0]?.time || Date.now()).getTime(),\n    }\n  };\n}\n\n// ================================================================\n// COMPARE MODE\n// ================================================================\nif (mode === 'compare' && topicB) {\n  log('compare', `Comparing: ${topic} vs ${topicB}`);\n  \n  const [resultsA, resultsB, resultsVs] = await Promise.all([\n    parallelSearch([topic, `${topic} pros cons advantages`, `${topic} use cases`]),\n    parallelSearch([topicB, `${topicB} pros cons advantages`, `${topicB} use cases`]),\n    parallelSearch([`${topic} vs ${topicB}`, `${topicB} vs ${topic}`, `${topic} compared to ${topicB}`]),\n  ]);\n  \n  const allResults = [...resultsA, ...resultsB, ...resultsVs];\n  const topUrls = rankUrls(allResults, fetched);\n  const pages = await parallelFetch(topUrls.slice(0, 5));\n  \n  // Build context\n  const ctx = [\n    `=== ${topic.toUpperCase()} ===`,\n    resultsA.map((r,i) => `[${i+1}] ${r.title}: ${r.content}`).join('\\n'),\n    `\\n=== ${topicB.toUpperCase()} ===`,\n    resultsB.map((r,i) => `[${i+1}] ${r.title}: ${r.content}`).join('\\n'),\n    `\\n=== HEAD-TO-HEAD ===`,\n    resultsVs.map((r,i) => `[${i+1}] ${r.title}: ${r.content}`).join('\\n'),\n  ];\n  if (pages.length) {\n    ctx.push('\\n=== FULL SOURCE CONTENT ===');\n    for (const p of pages) ctx.push(`--- ${p.url} ---\\n${p.content.substring(0, 2000)}`);\n  }\n  \n  const report = await askAI(`Write a comprehensive comparison of ${topic} vs ${topicB}.\\n\\nResearch data:\\n${ctx.join('\\n')}\\n\\nWrite a balanced comparison covering: overview of each, key differences, pros/cons, best use cases, and a recommendation. Cite sources.`, 6144);\n  \n  return {\n    json: {\n      success: true, topic: `${topic} vs ${topicB}`, depth, mode: 'compare',\n      report,\n      sources: allResults.filter(r=>r.url).map((r,i)=>({index:i+1,title:r.title,url:r.url})).slice(0,20),\n      source_count: new Set(allResults.map(r=>r.url).filter(Boolean)).size,\n      total_searches: stats.searches, total_fetches: stats.pagesRead,\n      timeline, total_time_ms: Date.now() - new Date(timeline[0]?.time || Date.now()).getTime(),\n    }\n  };\n}\n\n// ================================================================\n// FULL RESEARCH MODE — 5 Phases\n// ================================================================\nlog('start', `Deep Research: ${topic} (depth ${depth}, focus: ${focus || 'none'})`);\n\n// ── PHASE 1: Discovery ──\nlog('phase1', 'Discovery — broad search sweep');\nconst discoveryQueries = [\n  topic,\n  `${topic} explained`,\n  `${topic} overview guide`,\n  `what is ${topic}`,\n];\nif (focus) discoveryQueries.push(`${topic} ${focus}`);\n\nconst discoveryResults = await parallelSearch(discoveryQueries);\nallFindings.push(...discoveryResults);\nfor (const r of discoveryResults) if (r.url) allSources.push(r.url);\n\n// Extract entities\nconst entityText = allFindings.map(f => `${f.title} ${f.content}`).join(' ');\nkeyEntities = extractEntities(entityText, topicWords);\nlog('phase1', `Found ${allFindings.length} results, ${keyEntities.size} entities: ${[...keyEntities].slice(0,6).join(', ')}`);\n\n// ── PHASE 2: Deep Dive (depth >= 2) ──\nif (depth >= 2) {\n  log('phase2', 'Deep Dive — reading top sources + entity queries');\n  \n  // Read top pages in parallel\n  const topUrls = rankUrls(allFindings, fetched);\n  const pagesToRead = Math.min(2 + depth, topUrls.length);\n  const pages = await parallelFetch(topUrls.slice(0, pagesToRead));\n  fullPages.push(...pages);\n  \n  // Extract more entities from page content\n  for (const p of pages) {\n    const pe = extractEntities(p.content, topicWords);\n    for (const e of pe) keyEntities.add(e);\n  }\n  \n  // Entity-driven searches in parallel\n  const entityQueries = [...keyEntities].slice(0, 5).map(e => `${topic} ${e}`);\n  entityQueries.push(`${topic} how it works`, `${topic} examples applications`);\n  const entityResults = await parallelSearch(entityQueries.slice(0, 6));\n  allFindings.push(...entityResults);\n  for (const r of entityResults) if (r.url) allSources.push(r.url);\n  \n  log('phase2', `${pages.length} pages read, ${entityResults.length} new findings`);\n}\n\n// ── PHASE 3: Cross-Reference (depth >= 3) ──\nif (depth >= 3) {\n  log('phase3', 'Cross-Reference — verification + alternative angles');\n  \n  const xrefQueries = [\n    `${topic} latest news 2025`,\n    `${topic} criticism problems issues`,\n    `${topic} expert analysis opinion`,\n    `${topic} comparison alternatives`,\n  ];\n  const xrefResults = await parallelSearch(xrefQueries);\n  allFindings.push(...xrefResults);\n  for (const r of xrefResults) if (r.url) allSources.push(r.url);\n  \n  // Read a few more key pages\n  const newTop = rankUrls(allFindings, fetched);\n  const newPages = await parallelFetch(newTop.slice(0, 2));\n  fullPages.push(...newPages);\n  \n  log('phase3', `${xrefResults.length} cross-ref results, ${newPages.length} pages`);\n}\n\n// ── PHASE 4: Niche & Data (depth >= 4) ──\nif (depth >= 4) {\n  log('phase4', 'Niche Angles — statistics, case studies, trends');\n  \n  const nicheQueries = [\n    `${topic} statistics data numbers`,\n    `${topic} case study real world example`,\n    `${topic} future predictions trends`,\n    `${topic} history evolution timeline`,\n    `${topic} how it works explained`,\n  ];\n  // Entity-combined for deeper coverage\n  for (const ent of [...keyEntities].slice(0, 3)) {\n    nicheQueries.push(`${topic} ${ent} details`);\n  }\n  \n  const nicheResults = await parallelSearch(nicheQueries);\n  allFindings.push(...nicheResults);\n  for (const r of nicheResults) if (r.url) allSources.push(r.url);\n  \n  const newTop = rankUrls(allFindings, fetched);\n  const newPages = await parallelFetch(newTop.slice(0, 3));\n  fullPages.push(...newPages);\n  \n  log('phase4', `${nicheResults.length} niche results, ${newPages.length} pages`);\n}\n\n// ── PHASE 5: Exhaustive Sweep (depth >= 5) ──\nif (depth >= 5) {\n  log('phase5', 'Exhaustive Sweep — academic, community, cross-entity');\n  \n  const sweepQueries = [\n    `${topic} research paper academic`,\n    `${topic} technical deep dive`,\n    `${topic} common misconceptions myths`,\n    `${topic} beginner guide introduction`,\n    `${topic} advanced techniques`,\n    `${topic} community discussion reddit forum`,\n  ];\n  // Entity cross-product\n  const entList = [...keyEntities].slice(0, 4);\n  for (let i = 0; i < entList.length; i++) {\n    for (let j = i + 1; j < entList.length; j++) {\n      sweepQueries.push(`${entList[i]} ${entList[j]} ${topic}`);\n    }\n  }\n  \n  const sweepResults = await parallelSearch(sweepQueries);\n  allFindings.push(...sweepResults);\n  for (const r of sweepResults) if (r.url) allSources.push(r.url);\n  \n  const newTop = rankUrls(allFindings, fetched);\n  const newPages = await parallelFetch(newTop.slice(0, 3));\n  fullPages.push(...newPages);\n  \n  log('phase5', `${sweepResults.length} sweep results, ${newPages.length} pages`);\n}\n\n// ================================================================\n// SYNTHESIZE — AI writes the report\n// ================================================================\nlog('synthesize', 'Generating research report...');\n\nconst uniqueSources = [...new Set(allSources.filter(Boolean))];\n\n// Build knowledge context\nconst ctx = [];\nif (fullPages.length) {\n  ctx.push('═══ FULL PAGE CONTENT (PRIMARY SOURCES) ═══\\n');\n  for (const p of fullPages.slice(0, 10)) {\n    ctx.push(`━━━ ${p.url} ━━━\\n${p.content.substring(0, 2500)}\\n`);\n  }\n}\nctx.push('═══ SEARCH RESULTS ═══\\n');\nconst seen = new Set();\nfor (const f of allFindings) {\n  if (seen.has(f.url)) continue;\n  seen.add(f.url);\n  ctx.push(`[${seen.size}] ${f.title}\\n    ${f.url}\\n    ${f.content}\\n`);\n  if (seen.size >= 40) break;\n}\n\nconst synthesizePrompt = `You are an expert research analyst. Write a comprehensive research report.\\n\\nTOPIC: ${topic}${focus ? `\\nFOCUS: ${focus}` : ''}\\n\\nRESEARCH DATA:\\n${ctx.join('\\n')}\\n\\nWrite a thorough report that:\\n1. Opens with an executive summary (2-3 paragraphs)\\n2. Covers all major themes discovered\\n3. Includes specific facts, figures, data where available\\n4. Notes conflicting information or open questions\\n5. References sources inline using [Source N] notation\\n6. Ends with key takeaways\\n\\nWrite in flowing, insightful prose. Do NOT just list results.\\nLength: ${depth >= 4 ? '1000-1500' : depth >= 3 ? '700-1000' : depth >= 2 ? '500-700' : '300-500'} words.`;\n\nconst report = await askAI(synthesizePrompt, depth >= 4 ? 8192 : 4096);\nlog('synthesize', `Report: ${report.length} chars`);\n\n// Build source list\nconst sourcesFormatted = [];\nconst seenSrc = new Set();\nfor (const f of allFindings) {\n  if (!f.url || seenSrc.has(f.url)) continue;\n  seenSrc.add(f.url);\n  sourcesFormatted.push({ index: seenSrc.size, title: f.title, url: f.url });\n  if (seenSrc.size >= 25) break;\n}\n\nreturn {\n  json: {\n    success: report.length > 100,\n    topic, depth, mode: 'research',\n    focus: focus || null,\n    report,\n    sources: sourcesFormatted,\n    source_count: uniqueSources.length,\n    total_searches: stats.searches,\n    total_fetches: stats.pagesRead,\n    pages_read: fullPages.length,\n    key_entities: [...keyEntities].slice(0, 15),\n    queries_used: [...searched],\n    timeline,\n    total_time_ms: Date.now() - new Date(timeline[0]?.time || Date.now()).getTime(),\n  }\n};\n"
      },
      "id": "research-engine-002",
      "name": "Research Engine v2",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [280, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": {}
      },
      "id": "respond-dr-002",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [520, 300]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Research Engine v2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Research Engine v2": {
      "main": [
        [
          {
            "node": "Respond",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "meta": {
    "instanceId": "8b2744b25d8fe68d00c317ba7b31c1c81c0700ffcbf23c75eff0ee6ed4acf22f"
  },
  "tags": [
    {
      "name": "hyprchat"
    }
  ]
}
